		<ul id="menu-menu" class="mnav dropdown fix">
			<li {% if request_path == '/' %} class="current-menu-item" {% endif %}><a href="/">Главная</a></li>
            <li {% if request_path == '/cats/' %} class="current-menu-item" {% endif %}><a href="/cats">Каталог товара</a>
            	<div id="header_sprite">
            		<div  id="header_sprite_head"></div>
            		<div  id="header_sprite_body">
						<ul>
							{% for section in sections %}
							<div style="float:left;">
		       				 <li style="float:left;"> <a href="{{ section.get_absolute_url }}" title="" style="font-size:15px; text-align:center;">{{ section.name }}</a>
		                          {% if not section.category_set.all.0.name == section.name %}
		                          
			          				  <ul style="float:left; width:100%;">
			               				 {% for category in section.category_set.all %}
			                                {% if not category.name == section.name %}
			                    			<li style="width:100%;">
			                      				  <a href="{{ category.get_absolute_url }}" title="" style="text-align:center; color:#ccc;">{{ category.name }}</a>
			                    			</li>
			                                {% endif %}
			              			  	{% endfor %}
			          				  </ul>
		          				  
		                          {% endif %}
		      			 	 </li>
		      			 	 </div>
							{% endfor %}
							<div style="float:left;">
		                    <li> <a href="{% url catalog.views.all_goods %}" title="" style="font-size:15px; text-align:center;">Все товары</a>
		                    </div>
						</ul>
					</div>
				</div>
			</li>
			<li {% if request_path == '/delivery' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.delivery %}">Доставка и оплата</a></li>
			<li {% if request_path == '/about' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.about %}">О Нас</a></li>
			<li {% if request_path == '/blog' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.blog %}">Блог</a></li>
		</ul>
		
		<form method="get" class="searchform" action="">
			<span class="left"></span>
			<input type="text" value="Поиск" name="s" class="s" onfocus="if (this.value == 'Поиск') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Поиск';}" />
			<span class="right"></span>
			<input type="submit" class="searchsubmit" value="Go" />
		</form>
			
