		<ul id="menu-menu" class="mnav dropdown fix">
			<li {% if request_path == '/' %} class="current-menu-item" {% endif %}><a href="/">Главная</a></li>
            <li {% if request_path == '/cats/' %} class="current-menu-item" {% endif %}><a href="/cats">Каталог товара</a>
				<ul class="sub-menu">
					{% for section in sections %}
       				 <li> <a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a>
                          {% if not section.category_set.all.0.name == section.name %}
          				  <ul class="sub-menu">
               				 {% for category in section.category_set.all %}
                                {% if not category.name == section.name %}
                    			<li>
                      				  <a href="{{ category.get_absolute_url }}" title="">{{ category.name }}</a>
                    			</li>
                                {% endif %}
              			  	{% endfor %}
          				  </ul>
                          {% endif %}
      			 	 </li>
					{% endfor %}
                    <li> <a href="{% url catalog.views.all_goods %}" title="">Все товары</a>
				</ul>
			</li>
			<li {% if request_path == '/delivery' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.delivery %}">Доставка и оплата</a></li>
			<li {% if request_path == '/about' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.about %}">О Нас</a></li>
			<li {% if request_path == '/blog' %} class="current-menu-item" {% endif %}><a href="{% url catalog.views.blog %}">Блог</a></li>
		</ul>
		
		<form method="get" class="searchform" action="">
			<span class="left"></span>
			<input type="text" value="Поиск" name="s" class="s" onfocus="if (this.value == 'Поиск') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Поиск';}" />
			<span class="right"></span>
			<input type="submit" class="searchsubmit" value="Go" />
		</form>
			<script type="text/javascript">
			hiConfig = {
       	 	sensitivity: 1, // number = sensitivity threshold (must be 1 or higher)
        	interval:100, // number = milliseconds for onMouseOver polling interval
        	timeout: 100, // number = milliseconds delay before onMouseOut
        	over: function() {		
				$j(this).children('ul').show();
				//alert('asd');
        		}, // function = onMouseOver callback (REQUIRED)
        	out: function() {
        		$j(this).children('ul').hide();
        	} // function = onMouseOut callback (REQUIRED)
   			}
    		$j('#nav ul.dropdown li ul li').hoverIntent(hiConfig);
	</script>
