{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
    <div id="page" class="fix">
        <div id="wrapper" class="fix" >

            <div class="header">
                <a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.gif" alt="Магазин домашней безопасности"/></a>
                {% category_list request.path %}
                {% cart_box request %}
                <div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
                <a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
            </div>

	<div id="container" class="fix ">
		<div id="content">
			<div class="postwrap fix">
				<div class="post-51 page type-page hentry" id="post-51">
					<div class="copy fix">
						<div class="textcontent">
							<p>ООО &laquo;БебиСкай&raquo;</p>
							<p>Юридический адрес: 123244,  г. Москва, ул. Гризодубовой, д.1 кв.10.</p>
							<p>ОГРН 1127646350113</p>
							<p><strong>Тел:</strong>+7 (915) 122-52-91</p>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

<div id="back-top"><a href="#top"><span class="arrow"></span>Наверх</a></div>
</div><!-- *wrapper -->
</div><!-- *page -->
{% endblock %}
