{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
    <div id="page" class="fix">
  <div id="wrapper" class="fix" >

    <div id="header" class="fix">
		<a href="/" style="float:left"><img class="headerimage" src="{{ MEDIA_URL}}res/img/my-spy-logo.png" alt="Магазин домашней безопасности"/></a>
		<div class="basket" style="float:left">
			{% cart_box request %}
		</div>
		<div class="icons">
			<div>+7 (915) 122-52-91 <small>c 9:00 до 23:00 без выходных</small></div>
			<a href='mailto:info@my-spy.ru'>info@my-spy.ru</a>
		</div>
	</div>

	<div id="nav" class="fix">
		<ul class="fix homebutton">
			<li class="page_item navfirst">
				<a class="home" href="/" title="Home" style="background-image: url('{{ MEDIA_URL}}res/img/home-icon.png');">Home</a>
			</li>
		</ul>

    {% category_list request.path %} <!-- Категории -->
 	</div>
		<div class="clear"></div>
	<div><div><!-- /nav -->
        Список всех категорий:<br>
        {% for cat in cats %}
            {{ cat.name }} {{ cat.get_absolute_url }}<br>
            {{ cat.description|safe }}<br>
            {{ cat.image.thumb_url }}<br>
            ----------------<br><br>
        {% endfor %}
{% endblock %}