{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
    <div id="page" class="fix">
        <div id="wrapper" class="fix" >

            <div class="header">
                <a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.gif" alt="Магазин домашней безопасности"/></a>
                {% category_list request.path %}
                {% cart_box request %}
                <div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
                <a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
            </div>

	<div id="container" class="fix ">
		<div id="content"> 
			<div class="postwrap fix"> 
				<div class="post-51 page type-page hentry" id="post-51"> 
					<div class="copy fix"> 
						<div class="textcontent">
							<p>Доставка по <b>Москве</b> в пределах МКАД осуществляется <b>бесплатно курьером в день заказа.</b>(при заказе от 1000 рублей)<br>
                                Стоимость доставки в <b>ближайшее подмосковье</b> 300 рублей.<br>
                                <i>Оплата курьеру наличными.</i>
							</p>
                            <p>
                                Доставка <b>по регионам России</b> осуществляется <b>наложенным платежом</b> курьерской службой "EMS почта России".<br>
                                К вам приходит курьер EMS и вы <b>оплачиваете посылку послее ее получения</b>, либо можете получить посылку на почтовом отделении, там же и оплатить.<br>
                                Стоимость доставки не больше 500 рублей.<br>
                                <i>Оплата курьеру наличными, либо на почтовом отделении.</i><br>
                                <i>Время доставки зависит от вашего региона. Доставка может идти от 3х и до 14 дней.</i>
                            </p>
						</div>
					</div> 
				</div>
			</div> 
			<div class="clear"></div> 
		</div> 
	</div>	
		
<div id="back-top"><a href="#top"><span class="arrow"></span>Наверх</a></div>
</div><!-- *wrapper -->
</div><!-- *page -->
{% endblock %}
