{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
<div id="page" class="fix">
  <div id="wrapper" class="fix">
	
    <div id="header" class="fix">
		<a href="/" style="float:left"><img class="headerimage" src="{{ MEDIA_URL}}res/img/my-spy-logo.png" alt="Магазин домашней безопасности"/></a>
		<div class="basket" style="float:left">
			{% cart_box request %}
		</div>
		<div class="icons">
			<div>+7 (915) 122-52-91 <small>c 9:00 до 23:00 без выходных</small></div>
			<a href='mailto:info@my-spy.ru'>info@my-spy.ru</a>
		</div>	
	</div>
	
	<div id="nav" class="fix">
		<ul class="fix homebutton">
			<li class="page_item navfirst">
				<a class="home" href="/" title="Home" style="background-image: url('{{ MEDIA_URL}}res/img/home-icon.png');">Home</a>
			</li>
		</ul>
	
    {% category_list request.path %} <!-- Категории -->
    	</div>
		<div class="clear"></div>
	<div><div><!-- /nav -->

	<div id="container" class="fix "> 
		<div id="content"> 
			<div class="postwrap fix"> 
				<div class="post-51 page type-page hentry" id="post-51"> 
					<div class="copy fix"> 
						<div class="textcontent"> 
							<p>Доставка по <b>Москве</b> в пределах МКАД осуществляется <b>бесплатно курьером в день заказа.</b><br>
                                Стоимость доставки в <b>ближайшее подмосковье</b> 300 рублей.<br>
                                <i>Оплата курьеру наличными.</i>
							</p>
                            <p>
                                Доставка <b>по регионам России</b> осуществляется <b>наложенным платежом</b> курьерской службой "EMS почта России".<br>
                                К вам приходит курьер EMS и вы <b>оплачиваете посылку послее ее получения</b>, либо можете получить посылку на почтовом отделении, там же и оплатить.<br>
                                Стоимость доставки не больше 300 рублей.<br>
                                <i>Оплата курьеру наличными, либо на почтовом отделении.</i><br>
                                <i>Время доставки зависит от вашего региона. Доставка может идти от 3х и до 14 дней.</i>
                            </p>
						</div>
					</div> 
				</div>
			</div> 
			<div class="clear"></div> 
		</div> 
	</div>	
		
  </div>
</div>
{% endblock %}