{% extends "base.html" %}
{% load cache %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
<div id="page" class="fix">
<div id="wrapper" class="fix" >

	<div class="header">
		<a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.gif" alt="Магазин домашней безопасности"/></a>
		{% category_list request.path %}
		{% cart_box request %}
		<div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
		<a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
	</div>
	
{% cache 1000 maincontent %}
    <div id="maincontent">
		<div id="content">
			<div class="postwrap fix" style="padding:30px;">
		        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
		        	<tr>
			        {% for section in sections %}
			        	
	                        {% if not section.name == section.category_set.all.0.name %}
	                       	<tr><td colspan="2"><center><a class="cats_discr" href="{{ section.get_absolute_url }}"> <h1>{{ section.name }}</h1></a><br></center></td></tr>
	                        {% endif %}
	                       
	                       {% for cat in section.category_set.all %}
			                   <td style="vertical-align:top; padding:20px;">
						        	<table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
						        		<tr>
								        	<td style="vertical-align:top; padding:20px;">

                                                {% if cat.slug == 'cctv' %}
                                                    <a href="http://ceptum.ru"><img width="150px" src="{{ cat.image.thumb_url }}"/></a>
                                                    </td>
                                                    <td style="vertical-align:top; padding:20px;">
                                                    <a class="item-head cats_discr" href="http://ceptum.ru/cats/cctv-komplekt/">
                                                {% else %}
                                                    {% if cat.slug == 'recorders' %}
                                                        <a href="http://ceptum.ru/section/reg/"><img width="150px" src="{{ cat.image.thumb_url }}"/></a>
                                                        </td>
                                                        <td style="vertical-align:top; padding:20px;">
                                                    <a class="item-head cats_discr" href="http://ceptum.ru/section/reg/">
                                                    {% else %}
                                                        {% if cat.slug == 'cctv-camera' %}
                                                            <a href="http://ceptum.ru/section/cam/"><img width="150px" src="{{ cat.image.thumb_url }}"/></a>
                                                            </td>
                                                            <td style="vertical-align:top; padding:20px;">
                                                            <a class="item-head cats_discr" href="http://ceptum.ru/section/cam/">
                                                        {% else %}
                                                                <a href="{{ cat.get_absolute_url }}"><img width="150px" src="{{ cat.image.thumb_url }}"/></a>
                                                                </td>
                                                                <td style="vertical-align:top; padding:20px;">
                                                            <a class="item-head cats_discr" href="{{ cat.get_absolute_url }}">
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
													<h2>{{ cat.name }}</h2>
												</a>
									            <p>{{ cat.description|safe }}</p>
								            </td>
								    	</tr>
						        	</table>
					        	</td>
					        	{% if not section.name == section.category_set.all.0.name %}
							        {% if forloop.counter|div:2 == 0 %}
										</tr><tr>
									{% endif %}
								{% endif %}
	                      	{% endfor %}
						{% if forloop.counter|div:2 == 0 %}
										</tr><tr>
									{% endif %}
				        {% if not section.name == section.category_set.all.0.name %}
							</tr>
							<tr><td colspan="2"  style="padding:20px; border-top: 5px solid #ccc;"></td></tr>	
							<tr>
						{% endif %}
			        {% endfor %}
			        </tr>
				</table>
        	</div>
        </div>
   </div>
{% endcache %}
<div id="back-top"><a href="#top"><span class="arrow"></span>Наверх</a></div>
</div><!-- *wrapper -->
</div><!-- *page -->
{% endblock %}
