{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
    <div id="page" class="fix">
        <div id="wrapper" class="fix" >
            <div class="header">
                <a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.gif" alt="Магазин домашней безопасности"/></a>
                {% category_list request.path %}
                {% cart_box request %}
                <div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
                <a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
            </div>

    <div class="subnav2">
        <a href="/">Каталог товара</a> »&nbsp;
        {% if product.category.all.0.section.slug == product.category.all.0.slug %}
            <a href="/cats/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
        {% else %}
            <a href="/cats/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
            <a href="/cats/{{ product.category.all.0.slug }}">{{ product.category.all.0 }}</a> »&nbsp;
        {% endif %}
        {{ product }}
	</div>

	<div id="container" class="fix "> 
		<div id="feature"> 
			<div class="postwrap fix tovar-blk1"> 
				<div class="hentry fix"> 
					<div id="cycle" class="fix">
						<div id="{{ product.name }}" class="fcontainer" style="background:">
							<div class="fcontent">
								<div class="fheading">
									<h3 class="sub">{{ product.name }}</h3><h1 class="ftitle"></h1>
								</div>
								<div class="ftext">
									<p>{{ product.mini_html_description|safe }}</p>
									{% if not product.in_stock %}
										<p><strong><em><span style="color: #ff0000">К сожалению данная модель закончилась, но вы можете сделать предзаказ по телефону.</span></em></strong></p>
									{% endif %}
									<div class="wpsc_product_price alignleft"><br /><span id="product_price_26" class="pricedisplay">{{ product.price }} руб.</span><br/></div><br/>

									{% if product.in_stock %}
									<form method="post" action="" class="cart alignright"> {% csrf_token %}
										<input type="hidden" name="product_slug" value="{{ product.slug }}" id="{{ product.id }}" />
										<img src="{{ STATIC_URL }}res/img/atc.gif" alt="Купить" class="wpsc_buy_button"/>
									</form>
									{% endif %}

									<br/><br/>
								</div>
							</div>
							
							<div class="fmedia">
								<center>
									<div>
										{% if product.productphoto_set.all %}
										 {% for item in product.productphoto_set.all %}
												 <div class="item-img-sm"><a href="#"><img class="product_image" src="{{ item.image.thumb_url }}" title="{{ page_title }}" alt="{{ page_title }}"/></a></div>
											 {% endfor %}
										 {% else %}
										{% endif %}
									</div>
								</center>
								<div class="clr"></div>
								<center><img src="{{ product.productphoto_set.all.0.image.thumb_url }}" title="{{ page_title }}" alt="{{ product.name }}"/></center>
							</div> 
							<div class="clear"></div>
						</div>
					</div> 
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div> 
			<div id="maincontent"> 
				<div id="content">
					<div class="postwrap fix">

						<div class="copy fix">
												<div class="textcol">
													<table><tr>
													<td>
                                                        {% for file in product.file_set.all %}
                                                        <p><a class="download_file" href="{{file.file.url}}" target="_blank">{{ file.name }}</a></p>
                                                        {% endfor %}
														<div class="wpsc_description">
															{{ product.html_description|safe }}
														</div>
                                                    
														<div class="single_additional_description">
															<p>
														<!--		Комплект поставки:<br /> 
																- Глушитель TG-130<br /> 
																- Автомобильное зарядное учтройство 12В<br /> 
																- Сетевое зарядное устройство 220В<br /> 
																- Упаковочная коробка -->
															</p>
															<p>		
																	Технические характеристики:<br /> 
																 {% for feature in product.feature_set.all %}
 																	 - {{ feature.name }}: {{ feature.value|safe }} <br>
																 {% endfor %}
																

															</p>
														</div>
													</td></tr></table>
												</div>
												
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=198969033467498";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="my-spy.ru{{ request.path }}" data-num-posts="2" data-width="500"></div>
<!--
<script type="text/javascript">
FB.Event.subscribe('comment.create', function(response) {
alert('aaaa');
});
</script>
-->

<script type="text/javascript">
		$('.product_image').mouseover(function()
			{
				$('.fmedia>center>img').attr('src',$(this).attr('src'));
				return false;
		});
	</script>

<div id="vk_api_transport"></div>
<script type="text/javascript">
    window.vkAsyncInit = function() {
        VK.init({
            apiId: 2246739, onlyWidgets: true
        });
        VK.Observer.subscribe('widgets.comments.new_comment', sendComment);
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "500", attach: false});
    };

    setTimeout(function() {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "http://userapi.com/js/api/openapi.js?22";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
    }, 0);

    function sendComment(num, last_comment) {
        $.post("/take_vk_comment", {comment: last_comment});
}</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>

<div id="back-top"><a href="#top"><span class="arrow"></span>Наверх</a></div>
</div><!-- *wrapper -->
</div><!-- *page -->
{% endblock %}
