<table border="1px" cellpadding="5px" cellspacing="1px">
	<tr style="background:#cccccc;">
		<td>
			Дата
		</td>
        <td>
            Денежный поток
        </td>
        <td>
            Остаток
        </td>
		<td>
			Статья потока
		</td>
        <td>
            Комментарий
        </td>
	<tr>
	{% for item in cash %}
	<tr>
		<td style="background:#cccccc;">
			{{ item.date }}
		</td>
        <td >
            {{ item.cashflow }}

        </td>
		<td>
            {{ item.balance }}
		</td>
        <td>
            {{ item.get_cause_display }}
        </td>
        <td>
            {% if item.cause == 'FROM_CLIENT' %} <a href="/myadmin/client/{{ item.comment }}">Клиент {{ item.comment }}</a> {% else %} {{ item.comment }} {% endif %}
        </td>
	</tr>
	{% endfor %}
</table>
