<td style="background:#cccccc;" rowspan="2">
    <a href="/myadmin/cash/add" target="_blank">Добавить денежный поток</a>
</td><br>
Всего: {{ balance.total }}<br>
Наличка: {{ balance.encash }}<br>
Яндекс деньги: {{ balance.yandex }}<br>
Webmoney: {{ balance.webmoney }}<br>
<a href="/myadmin/cash/editbalance" target="_blank">Редактировать капитал</a>
<table border="1px" cellpadding="5px" cellspacing="1px">
	<tr style="background:#cccccc;">
		<td>
			Дата
		</td>
        <td>
            Денежный поток
        </td>
        <td>
            Остаток
        </td>
		<td>
			Статья потока
		</td>
        <td>
            Вид
        </td>
        <td>
            Комментарий
        </td>
	<tr>
	{% for item in cash %}
	<tr>
		<td style="background:#cccccc;">
			{{ item.date }}
		</td>
        <td >
            {{ item.cashflow }}

        </td>
		<td>
            {{ item.balance }}
		</td>
        <td>
            {{ item.get_cause_display }}
        </td>
        <td>
            {{ item.get_type_display }}
        </td>
        <td>
            {% if item.cause == 'FROM_CLIENT' %} <a href="/myadmin/client/{{ item.comment }}">Клиент {{ item.comment }}</a> {% else %} {{ item.comment }} {% endif %}
        </td>
        <td style="background:#cccccc;">
			<a href="/myadmin/cash/{{ item.id }}/" target="_blank">Редактировать</a>
		</td>
	</tr>
	{% endfor %}
</table>
