{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% load archive %}
    <div id="page" class="fix">
    <div id="wrapper" class="fix" >

    <div class="header">
        <a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.gif" alt="Магазин домашней безопасности"/></a>
        {% category_list request.path %}
        {% cart_box request %}
        <div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
        <a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
    </div>

	<div>
		<div>
			<div id="maincontent">
				<div id="content">
					<div class="postwrap fix">
					<!-- /nav -->
						<div id="blog_posts" class="alignleft">
							<div class="blog_post">
								<h1 class="post_title">{{ entry.title }}</h1>
								<p class="date">{{ entry.date }}</p>
								{{ entry.entry|safe }}
								<div class="clr"></div>
								
							</div>
						</div>
						<div class="blog_side alignleft">
							Архив:<br>
							{% archive %}<br><br>
							Категории:<br>
							{% categories %}<br>
							<a href="http://feeds.feedburner.com/My-spyBlog" title="Подписаться"><img src="{{ STATIC_URL }}res/img/rss_logo.png"/></a>
						</div>
					 </div>
				</div>
			</div>
		</div>
	</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=198969033467498";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="my-spy.ru{{ request.path }}" data-num-posts="2" data-width="500"></div>

<script type="text/javascript">
		$('.product_image').click(function()
			{
				$('.fmedia>center>img').attr('src',$(this).attr('src'));
				return false;
		});
</script>

<div id="vk_api_transport"></div>
<script type="text/javascript">
    window.vkAsyncInit = function() {
        VK.init({
            apiId: 2246739, onlyWidgets: true
        });
        VK.Observer.subscribe('widgets.comments.new_comment', sendComment);
        VK.Widgets.Comments("vk_comments", {limit: 10, width: "500", attach: false});
    };

    setTimeout(function() {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "http://userapi.com/js/api/openapi.js?22";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
    }, 0);

    function sendComment(num, last_comment) {
        $.post("/take_vk_comment", {comment: last_comment});
    }</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>

<div id="back-top"><a href="#top"><span class="arrow"></span>Наверх</a></div>
</div><!-- *wrapper -->
</div><!-- *page -->
{% endblock %}
