{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% load archive %}
<div id="page" class="fix">
<div id="wrapper" class="fix" >

<div class="header">
    <a href="/" class="logo"><img src="{{ STATIC_URL }}res/img/logo.jpg" alt="Магазин домашней безопасности"/></a>
    {% category_list request.path %}
    {% cart_box request %}
    <div class="tel" alt="+7 (915) 122-52-91">c 9:00 до 23:00<br />(без выходных)</div>
    <a href="mailto:info@my-spy.ru" class="mail">info@my-spy.ru</a>
</div>
	<div>
		<div>
			<div id="maincontent">
				<div id="content">
					<div class="postwrap fix">
					<!-- /nav -->
						<div id="blog_posts" class="alignleft">
							{% for entry in entrys.object_list %}
								<div class="blog_post">
								    <a href="{{ entry.get_absolute_url }}" class="post_title"><h1>{{ entry.title }}</h1></a>
								    <p class="date">{{ entry.date }}</p>
								    {{ entry.thumbnail_entry|safe }}					
									<div class="clr"></div>
									
								</div>
							{% endfor %}
							
						</div>
						<div class="blog_side alignleft">
							Архив:<br>
							{% archive %}<br><br>
							Категории:<br>
							{% categories %}<br>
							<a href="http://feeds.feedburner.com/My-spyBlog" title="Подписаться"><img src="{{ STATIC_URL }}res/img/rss_logo.png"/></a>
						</div>
						<div class="clr"></div>
						<div class="pagination">
						    <span class="step-links">
						        {% if entrys.has_previous %}
						            <a href="?page={{ entrys.previous_page_number }}">Сюда</a>
						        {% endif %}
						
						        <span class="current">
						            Страница {{ entrys.number }} из {{ entrys.paginator.num_pages }}.
						        </span>
						
						        {% if entrys.has_next %}
						            <a href="?page={{ entrys.next_page_number }}">Туда</a>
						        {% endif %}
						    </span>
						 </div>
					 </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
