{% load myadmin_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>my-SPY Admin</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_URL }}res/css/sales.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}res/css/chosen.css" rel="stylesheet" type="text/css" />
    <script src='{{ STATIC_URL }}res/js/jquery-1.7.1.min.js'></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.core.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.widget.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.button.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
	<script src='{{ STATIC_URL }}res/js/chosen.jquery.min.js'></script>
    <script src="{{ STATIC_URL }}js/sales.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
</head>
<body>
<div id="container">
	<div id="create_bg"></div>
	<div id="create_edit">
		<div class="close">X</div>
		<div id="create_edit_block"></div>
	</div>
	<div id="header">
   		<!-- // -->
		<div class="top_menu">
			<ul>
				<li class="current"><a href="/myadmin/sales/">Клиенты</a></li>
				<li><a href="/myadmin/store/">Склад  </a></li>
				<li><a href="/myadmin/cash/month/">Касса  </a></li>
				<li><a href="/myadmin/tasks/">Задачи  </a></li>
				<li><a href="/myadmin/orders/">Заказы  </a></li>
				<li><a href="/myadmin/statistic/">Статистика</a></li>
			</ul>

			<!-- // -->
			<div class="user">
				<span>{{ request.user }}</span>
				<a href="/myadmin/logout" class="logout"></a>
			</div>
		</div>
        <!-- // -->
		<div class="clear"></div>
        <!-- // -->
		<div class="lt_un">
            <input type="submit" class="icon_man" value="&nbsp;" onclick="" />
		</div>
        <!-- // -->
		<div class="search">
			<form action="/myadmin/sales/search/" id="sale-search">
				<div class="input">
					<input type="text" name="q" class="q" />
					<input type="reset" value="&nbsp;" class="reset" />
				</div>
				<div class="btn">
					<input type="submit" value="&nbsp;" disabled="disabled" />
				</div>
			</form>
<script>
$(function(){
  $search_form = $("#sale-search");
  $search_submit = $search_form.find("input[type=submit]");
  $search_reset = $search_form.find("input[type=reset]");
  $search_input = $search_form.find("input[type=text]");
  $search_input.live('change keyup', function() {
    if ($(this).val().length > 0) {
	  $search_submit.removeAttr("disabled");
	}
	else {
	  $search_submit.attr("disabled", "disabled");
	}
  });
  $search_form.bind("reset", function() {
    $search_submit.attr("disabled", "disabled");
  });
});
</script>
		</div>
        <!-- // -->
	</div>
	<div id="wrapper">
		<div id="content">
			<table class="items_list" cellpadding="0" cellspacing="0" border="1">
                {% for client in clients %}
                <tr class="item">
                	<td class="id">
	  					{{ client.id }}
	  				</td>
	  				<td class="action">

	  					<span >
						<p>{{ client.get_status_display }}</p>
						<ul class="ps_selector">

						</ul>
						</span>
	  					{% select client %}
	  				</td>
	  				<td>
	  					<span class="name">
	  						<a href="/myadmin/client/{{ client.id }}" target="_blank">
	  							{{ client.surname }} {{ client.name }} {{ client.patronymic }}
	  						</a>
	  					</span>
	  				</td>
	  				<td class="time"></td>
	  				<td>
	  					<span class="phone">{{ client.phone }}</span>
	  				</td>
	  				<td>
	  					<span class="goods">
	                            {{ client.get_order|safe }}
	  						</span>
	  				</td>
	  				<td>
	  					 {% if client.subtotal %}
	  						<span class="price">
	  							{{ client.subtotal }}&nbsp;руб </br>{% if client.discount %}<small>{{ client.discount }}&nbsp;руб</small>{% endif %}
	  						</span>
	                     {% endif %}
	  				</td>
	  				<td>
	  					<div class="main_info">



	  						<span class="address">{% if client.city %}{{ client.city }};{% endif %} {{ client.address }}{% if client.postcode %} - Индекс: {{ client.postcode }} {% endif %}</span>
	  						<div class="clear"></div>
	  						<span class="comment">{{ client.comment }}</span>
	  					</div>
					</td>
					<td>
	  					{% if client.tracking_number %}{{ client.tracking_number }} {{ client.tracking_status }}{% endif %}
	  				</td>
                </tr>
                {% endfor %}
			</table>
		</div>
	</div>
	<div id="navigation">
	    <form action="{% if 'search' not in request.path %}{{ request.path }}{% else %}/myadmin/sales/{% endif %}" method="get" id="filter">
			<div class="lt_un">
				<input type="submit" class="icon_apply" value="&nbsp;" />
			</div>

			<div class="clear"></div>

			<div id="accordion">
				<h3><a href="javascript:void(0);" class="send_form1">Активные</a> <input type="checkbox" class="ch" id="hd1" /> <label for="hd1" class="maincheckbox1"></label> <!--<span class="corn"></span> --></h3>
				<div>
					<ul class="set">
				        <li><input type="checkbox" id="ch1" class="group1" value="PROCESS" name='status'{% for i in statuses %}{% if i == "PROCESS" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch1"><span>{% status_count "PROCESS" %}</span></label></li>
						<li><input type="checkbox" id="ch2" class="group1" value="POSTSEND" name="status"{% for i in statuses %}{% if i == "POSTSEND" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch2"><span>{% status_count "POSTSEND" %}</span></label></li>
						<li><input type="checkbox" id="ch3" class="group1" value="COURIER_SEND" name="status"{% for i in statuses %}{% if i == "COURIER_SEND" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch3"><span>{% status_count "COURIER_SEND" %}</span></label></li>
						<li><input type="checkbox" id="ch4" class="group1" value="BACK" name="status"{% for i in statuses %}{% if i == "BACK" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch4"><span>{% status_count "BACK" %}</span></label></li>
						<li><input type="checkbox" id="ch5" class="group1" value="CONTACT_AT" name="status"{% for i in statuses %}{% if i == "CONTACT_AT" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch5"><span>{% status_count "CONTACT_AT" %}</span></label></li>
					</ul>
				</div>
				<h3><a href="javascript:void(0);" class="send_form2">Пассивные</a> <input type="checkbox" class="ch" id="hd2" /> <label for="hd2" class="maincheckbox2"></label>   <!--<span class="corn"></span> --></h3>
				<div>
					<ul class="set">
						<li><input type="checkbox" id="ch6" class="group2" value="COURIER_TAKE" name="status"{% for i in statuses %}{% if i == "COURIER_TAKE" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch6"><span>{% status_count "COURIER_TAKE" %}</span></label></li>
						<li><input type="checkbox" id="ch7" class="group2" value="BUYER_TAKE" name="status"{% for i in statuses %}{% if i == "BUYER_TAKE" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch7"><span>{% status_count "BUYER_TAKE" %}</span></label></li>
						<li><input type="checkbox" id="ch8" class="group2" value="WAYT_PRODUCT" name="status"{% for i in statuses %}{% if i == "WAYT_PRODUCT" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch8"><span>{% status_count "WAYT_PRODUCT" %}</span></label></li>
						<li><input type="checkbox" id="ch9" class="group2" value="POSTSENDED" name="status"{% for i in statuses %}{% if i == "POSTSENDED" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch9"><span>{% status_count "POSTSENDED" %}</span></label></li>
					</ul>
				</div>
				<h3><a href="javascript:void(0);" class="send_form3">Закрытые</a> <input type="checkbox" class="ch" id="hd3" /> <label for="hd3" class="maincheckbox3"></label> <!--<span class="corn"></span> --></h3>
				<div>
					<ul class="set">
						<li><input type="checkbox" id="ch11" class="group3" value="CASH_IN" name="status"{% for i in statuses %}{% if i == "CASH_IN" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch11"><span>{% status_count "CASH_IN" %}</span></label></li>
						<li><input type="checkbox" id="ch12" class="group3" value="REFUSED" name="status"{% for i in statuses %}{% if i == "REFUSED" %} checked="checked" {% endif %}{% endfor %} /> <label for="ch12"><span>{% status_count "REFUSED" %}</span></label></li>
					</ul>
				</div>
				<h3 {% if 'sales/all' in request.path %} class="current"{% endif %}><a href="/myadmin/sales/all">Все клиенты</a></h3>
				<div>
					<ul class="set">
					</ul>
				</div>
			</div>



            {% date_tags request.path %}


    	</form>

	</div>
	<div id="extra">
    	<!-- // -->
		<div class="ltime">
			<ul>
				{% if 'today' in request.path %}<li class="current">{% else %}<li>{% endif %}<a href="/myadmin/sales/today/">За сегодня</a></li>
                {% if 'week' in request.path %}<li class="current">{% else %}<li>{% endif %}<a href="/myadmin/sales/week/">За неделю</a></li>
                {% if 'month' in request.path %}<li class="current">{% else %}<li>{% endif %}<a href="/myadmin/sales/month/">За месяц</a></li>
                {% if 'year' in request.path %}<li class="current">{% else %}<li>{% endif %}<a href="/myadmin/sales/year/">За год</a></li>
			</ul>
		</div>
        <!-- // -->
	</div>
	<div id="footer">

	</div>

</div>
</body>
