{% load myadmin_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>my-spy_admin</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_URL }}res/css/test.css" rel="stylesheet" type="text/css" />
    <script src='{{ STATIC_URL }}res/js/jquery1.4.2.js'></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.core.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.widget.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.accordion.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.button.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
	<script>
	$(function() {
		$( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true
		});
		$( ".set" ).buttonset();
		$( ".ch" ).button();
	});
	</script>

</head>
<body>
<div id="container">
	<div id="header">
   		<!-- // -->
		<div class="top_menu">
			<ul>
				<li class="current"><a href="#">Клиенты</a></li>
				<li><a href="#">Склад  </a></li>
				<li><a href="#">Касса  </a></li>
				<li><a href="#">Задачи  </a></li>
				<li><a href="#">Заказы  </a></li>
				<li><a href="#">Статистика</a></li>
			</ul>

			<!-- // -->
			<div class="user">
				<span>vladimir</span>
				<a href="/myadmin/logout" class="logout"></a>
			</div>
		</div>
        <!-- // -->
		<div class="clear"></div>
        <!-- // -->
		<div class="lt_un">
			<input type="button" class="icon_man" />
		</div>
        <!-- // -->
		<div class="search">
			<form action="#">
				<div class="input">
					<input type="text" name="q" class="q" />
					<input type="reset" value="&nbsp;" class="reset" />
				</div>
				<div class="btn">
					<input type="submit" value="&nbsp;" />
				</div>
			</form>
		</div>
        <!-- // -->
	</div>
	<div id="wrapper">
		<div id="content">

  			<div class="items_list">
                {% for client in clients %}
  				<!-- // -->
  				<div class="item">
  					<div class="id">
  						<span>{{ client.id }}</span>
  						<a href="/myadmin/client/{{ client.id }}" target="_blank">Редактировать</a>
  					</div>
  					<div class="main_info">
  						<span class="name">{{ client.surname }} {{ client.name }} {{ client.patronymic }}</span>
  						<span class="goods">
                            {{ client.get_order|safe }}
  						</span>
                        {% if client.subtotal %}
  						<span class="price">
  							{{ client.subtotal }} руб {% if client.dicount %}<small>{{ client.discount }} руб</small>{% endif %}
  						</span>
                        {% endif %}
  						<div class="clear"></div>
  						<span class="action">{{ client.get_status_display }}</span>
  						<span class="address">{% if client.city %}{{ client.city }};{% endif %} {{ client.address }}{% if client.postcode %} - Индекс: {{ client.postcode }} {% endif %}</span>
  						<div class="clear"></div>
  						<span class="phone">тел: {{ client.phone }}</span>
  						<div class="clear"></div>
                        {% if client.tracking_number %}<a href="http://www.emspost.ru/tracking/{{ client.tracking_number }}" target="_blank">{{ client.tracking_number }}</a> {{ client.tracking_status }}{% endif %}

  						<span class="comment">{{ client.comment }}</span>
  					</div>
  				</div>
                <!-- // -->
                <!-- // -->
                {% endfor %}
  			</div>

		</div>
	</div>
	<div id="navigation">
	    <form action="/myadmin/sales/" method="post"> {% csrf_token %}
			<div class="lt_un">
				<input type="submit" class="icon_apply" value="&nbsp;" />
			</div>

			<div class="clear"></div>

			<div id="accordion">
				<h3><a href="#">Активные</a> <span class="check"></span>  <span class="corn"></span></h3>
				<div>
					<ul class="set">
			        <li><input type="checkbox" id="ch1" value="PROCESS" name='status' /> <label for="ch1"><span>{% status_count "PROCESS" %}</span></label></li>
						<li><input type="checkbox" value="POSTSEND" name="status" id="ch2" /> <label for="ch2"><span>{% status_count "POSTSEND" %}</span></label></li>
						<li><input type="checkbox" id="ch3" value="COURIER_SEND" name="status" /> <label for="ch3"><span>{% status_count "COURIER_SEND" %}</span></label></li>
						<li><input type="checkbox" id="ch4" value="BACK" name="status" /> <label for="ch4"><span>{% status_count "BACK" %}</span></label></li>
						<li><input type="checkbox" id="ch5" value="CONTACT_AT" name="status" /> <label for="ch5"><span>{% status_count "CONTACT_AT" %}</span></label></li>
					</ul>
				</div>
				<h3><a href="#">Пассивные</a> <span class="check"></span>   <span class="corn"></span></h3>
				<div>
					<ul class="set">
						<li><input type="checkbox" id="ch6" value="COURIER_TAKE" name="status" /> <label for="ch6"><span>{% status_count "COURIER_TAKE" %}</span></label></li>
						<li><input type="checkbox" id="ch7" value="BUYER_TAKE" name="status" /> <label for="ch7"><span>{% status_count "BUYER_TAKE" %}</span></label></li>
						<li><input type="checkbox" id="ch8" value="WAYT_PRODUCT" name="status" /> <label for="ch8"><span>{% status_count "WAYT_PRODUCT" %}</span></label></li>
						<li><input type="checkbox" id="ch9" value="POSTSENDED" name="status" /> <label for="ch9"><span>{% status_count "POSTSENDED" %}</span></label></li>
					</ul>
				</div>
				<h3><a href="#">Закрытые</a> <span class="check"></span> <span class="corn"></span></h3>
				<div>
					<ul class="set">
						<li><input type="checkbox" id="ch11" value="CASH_IN" name="status" /> <label for="ch11"><span>{% status_count "CASH_IN" %}</span></label></li>
						<li><input type="checkbox" id="ch12" value="REFUSED" name="status" /> <label for="ch12"><span>{% status_count "REFUSED" %}</span></label></li>
					</ul>
				</div>
				<h3><a href="#">Все клиенты</a> <span class="check"></span> <span class="corn"></span></h3>
				<div>
					<ul class="set">
					</ul>
				</div>
			</div>





    	</form>

	</div>
	<div id="extra">
    	<!-- // -->
		<div class="ltime">
			<ul>
				<li class="current"><a href="#">За все время</a></li>
				<li><a href="#">За неделю</a></li>
				<li><a href="#">За месяц</a></li>
				<li><a href="#">За год</a></li>
			</ul>
		</div>
        <!-- // -->
	</div>
	<div id="footer">

	</div>
</div>

</body>
</html>
