body{
	margin: 0;
	padding: 0;
}
.alignright{
	float: right;
}
.alignleft{
	float:left;
}
#allsales_block{
	padding: 0 0 0 0;
}
a{
	color:#2778c5;
}
a:hover{
	text-decoration: none;
}
.menu{
	margin: 0px auto;
}
.menu td{
	padding: 5px 20px;
	background: url('../img/menu_bg_admin.jpg') top left repeat-x;
	height: 30px;
	vertical-align: center;
	line-height: 20px;
	font-size: 14px;
}
.menu td:hover{
	background-position: left bottom;
}
#menu_block{
	width: 100%;
	background: url('../img/menu_bg_admin.jpg') top left repeat-x;
}
#allsales_block #money{
	position: absolute;
	top:0;
	right:0;
	padding: 20px;
}
.margincenter{
	margin:0 auto;
}
#selector_block{
	z-index: 999;
	background: #ebf1fe;
	top:0;
	border-bottom: solid 2px #999;
	border-top: solid 2px #999;
	position: relative;
}
.selectbutton{
	border: none;
	background: #2778c5;
	cursor: pointer;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0 0;
	font-size: 12px;
}
a.selectbutton{
	padding: 3px 10px 2px;
	text-decoration: none;
}
#selector_block p{
	text-align:right; 
	padding: 0 20px;
	float:right;
}
#selector_block ul{
	list-style: none;
	padding: 0;
}
#selector_block .hidden{
	padding: 20px;
}
#selector_block:hover .hidden{
	display: block;
}
#selector_block:hover p{
}
#status_selector ul li{	
	list-style: none;
}
.margin_center{
	margin: 0 auto;
}
#period{
	width: 90%;
	text-align: right;
	padding: 25px 5% 0;
}
#period span{
	float: left;
}
#allsales, #client_edit_form_table{
	margin: 20px auto;
	border: solid 2px #999;
	color: #3b4c5d;	
}
#client_edit_form_table{
	font-size: 12px;
	padding: 5px;
}
#allsales .addclientbtn{
	padding: 0 20px;
}
#allsales .pagination{
	padding: 5px 20px;
}
#allsales .rightborder{
	border-right: 1px solid #dbdbdc;
}
#allsales .bottomborder{
	border-bottom: 1px solid #dbdbdc;
}
#allsales .head_row{
	background:#cccccc;

}
#allsales .head_row td{
	text-align: center;
}
#allsales .clientinfo td, #allsales .clientadress td{
	background: #fefefe;
}
#id_sms_status{
}