<table border="1px" cellpadding="5px" cellspacing="1px">
	<tr style="background:#cccccc;">
		<td>
			Наименование
		</td>
        <td>
            Количество
        </td>
        <td>
            Розничная цена
        </td>
		<td>
			Цена закупки
		</td>
	<tr>
	{% for product in products %}
	<tr>
		<td style="background:#cccccc;" rowspan="2">
			{{ product.name }}
		</td>
        <td rowspan="2">
            {{ product.quantity }}
        </td>
		<td>
            {{ product.price }}
		</td>
        <td>
            {{ product.wholesale_price }}
        </td>
	</tr>
	{% endfor %}
</table>
