<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
<link rel="shortcut icon" href="{{ STATIC_URL }}res/img/my-spy.ico" type="image/x-icon" />
<title>{% block title %}{{ page_title }}{% endblock %}</title>
<link rel="stylesheet" href="{{ STATIC_URL }}res/css/style.css" type="text/css" media="screen" />
<!--[if IE 6]>
	<script src="{{ STATIC_URL }}res/js/belatedpng.js"></script>
	<script>
	  DD_belatedPNG.fix('.pngbg, a.home, #nav,.searchform .left, .searchform .right, .searchform .s, .fcol_pad img, .fbox img, #respond h3, #cred.pagelines a, .post .date, .headerimage, #sidebar div ul li a');
	 </script>	
	<style>
		#header #blogtitle .sheen {display: none;height: 1px;}
		#featurenav a span.nav_thumb span.nav_overlay {background: transparent;display:none}
		 #nav ul li {background: transparent}
		.fbox {overflow:hidden}
	</style>
<![endif]-->	
<!--[if lte IE 7]>
<link rel='stylesheet' href='{{ STATIC_URL }}res/css/ie7.css' type='text/css' media='all' />
<![endif]-->
<script type='text/javascript' src='{{ STATIC_URL }}res/js/jquery1.4.2.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}res/js/jquery1.7.2.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}res/js/dropdown.js'></script>
<script type="text/javascript" src="{{ STATIC_URL }}res/js/jquery-hoverintent.js"></script>
<meta name="description" content="{{ meta_description|striptags }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta property="fb:app_id" content="198969033467498"/>
<script type="text/javascript">
/* <![CDATA[ */
	var $j = jQuery.noConflict();
	$j(document).ready(function () {	
			$j('#cycle').cycle({ 
			    fx: 'fade',
				sync: 1,
				timeout: 15000,
			    speed:  1500, 
				pager:  '#featurenav',
				cleartype:  true,
    			cleartypeNoBg:  true
			 });
			$j("div#featurenav").children("a").each(function() {
				if($j(this).html() == "1") { $j(this).html("Жучки");}
				if($j(this).html() == "2") { $j(this).html("Защита от прослушки");}
				if($j(this).html() == "3") { $j(this).html("Миникамеры");}
				if($j(this).html() == "4") { $j(this).html("GPS Мониторинг");}
			});
		$j('.prew_img_tov').click(function()
			{
				$j('.main_img_tov').attr('src',$j(this).attr('src'));	
				return false;	
			});
			
			$j('#img_full').click(function(event){
				if (event.target == this){	
				$j('#opac_bg').hide();		
				$j('#img_full').hide();
				}
				return false;
			});	
				
			$j('.item-img-big a').click(function(){
				alert('@');
				$j('#opac_bg').show();
				$j('#img_full').show();
				return false;
			});
	});
/* ]]> */
</script>
</head>
<body class="home page page-id-8 page-template page-template-page-feature-php">
        {% block site_wrapper %}
        {% endblock %}
    {% include "metrika.html" %}
    </body>
</html>
