
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    <link rel="shortcut icon" href="/static/res/img/favicon.ico" type="image/x-icon" />
    <title>Магазин домашней безопасности, шпионская техника</title>
    <link rel="stylesheet" href="/static/res/css/style.css" type="text/css" media="screen" />
    <!--[if IE 6]>
	<script src="/static/res/js/belatedpng.js"></script>
	<script>
	  DD_belatedPNG.fix('.pngbg, a.home, #nav,.searchform .left, .searchform .right, .searchform .s, .fcol_pad img, .fbox img, #respond h3, #cred.pagelines a, .post .date, .headerimage, #sidebar div ul li a');
	 </script>
	<style>
		#header #blogtitle .sheen {display: none;height: 1px;}
		#featurenav a span.nav_thumb span.nav_overlay {background: transparent;display:none}
		 #nav ul li {background: transparent}
		.fbox {overflow:hidden}
	</style>
<![endif]-->
    <!--[if lte IE 7]>
<link rel='stylesheet' href='/static/res/css/ie7.css' type='text/css' media='all' />
<![endif]-->
    <script type='text/javascript' src='/static/res/js/jquery1.4.2.js'></script>
    <script type='text/javascript' src='/static/res/js/jquery1.7.2.js'></script>
    <script type='text/javascript' src='/static/res/js/dropdown.js'></script>
    <script type="text/javascript" src="/static/res/js/jquery-hoverintent.js"></script>
    <meta name="description" content="Интернет магазин, где можно купить шпионские штучки, камеры,
     подслушивающие устройства. Так же у нас в продаже шпионская техника, оборудование,
      глушилка мобильных телефонов, мини камера." />
    <meta name="keywords" content="шпионские штучки магазин, шпионские штучки купить, купить подслушивающее устройство,
     шпионская техника, шпионские камеры, шпионское оборудование продажа, магазин шпионских товаров" />
    <meta property="fb:app_id" content="198969033467498"/>
    <script type="text/javascript">
        /* <![CDATA[ */
        var $j = jQuery.noConflict();
        $j(document).ready(function () {
            $j('#cycle').cycle({
                fx: 'fade',
                sync: 1,
                timeout: 15000,
                speed:  1500,
                pager:  '#featurenav',
                cleartype:  true,
                cleartypeNoBg:  true
            });
            $j("div#featurenav").children("a").each(function() {
                if($j(this).html() == "1") { $j(this).html("Жучки");}
                if($j(this).html() == "2") { $j(this).html("Защита от прослушки");}
                if($j(this).html() == "3") { $j(this).html("Миникамеры");}
                if($j(this).html() == "4") { $j(this).html("GPS Мониторинг");}
            });
            $j('.prew_img_tov').click(function()
            {
                $j('.main_img_tov').attr('src',$j(this).attr('src'));
                return false;
            });

            $j('#img_full').click(function(event){
                if (event.target == this){
                    $j('#opac_bg').hide();
                    $j('#img_full').hide();
                }
                return false;
            });

            $j('.item-img-big a').click(function(){
                alert('@');
                $j('#opac_bg').show();
                $j('#img_full').show();
                return false;
            });
        });
        /* ]]> */
    </script>
</head>
<body class="home page page-id-8 page-template page-template-page-feature-php">

<div id="page" class="fix">
<div id="wrapper" class="fix" >

<div id="header" class="fix">
    <a href="/" style="float:left"><img class="headerimage" src="/static/res/img/my-spy-logo.png" alt="Магазин домашней безопасности"/></a>
    <div class="basket" style="float:left">
        <a class="bask-a"href="/cart/"><img src="/static/res/img/basket.png" alt="basket"></a>
        <div class="bask">
            В вашей корзине <b>0</b> товар (а)
        </div>
    </div>
    <div class="icons">
        <div>+7 (915) 122-52-91 <small>c 9:00 до 23:00 без выходных</small></div>
        <a href='mailto:info@my-spy.ru'>info@my-spy.ru</a>
    </div>
</div>

<div id="nav" class="fix">
    <ul class="fix homebutton">
        <li class="page_item navfirst">
            <a class="home" href="/" title="Home" style="background-image: url('/static/res/img/home-icon.png');">Home</a>
        </li>
    </ul>

    <ul id="menu-menu" class="mnav dropdown fix">
        <li  class="current-menu-item" ><a href="/">Каталог товара</a>
            <div id="header_sprite">
                <div  id="header_sprite_head"></div>
                <div  id="header_sprite_body">
                    <ul>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/bugs/" title="" style="font-size:15px; text-align:center;">Жучки</a>


                                <ul style="float:left; width:100%;">


                                    <li style="width:100%;">
                                        <a href="/cats/gsm/" title="" style="text-align:center; color:#ccc;">GSM</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/radio/" title="" style="text-align:center; color:#ccc;">Радио</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/audio/" title="" style="text-align:center; color:#ccc;">Мини диктофоны</a>
                                    </li>


                                </ul>


                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/antibugs/" title="" style="font-size:15px; text-align:center;">Защита от прослушки</a>


                                <ul style="float:left; width:100%;">


                                    <li style="width:100%;">
                                        <a href="/cats/jammers/" title="" style="text-align:center; color:#ccc;">Глушители</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/detectors/" title="" style="text-align:center; color:#ccc;">Обнаружители</a>
                                    </li>


                                </ul>


                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/security/" title="" style="font-size:15px; text-align:center;">Охранные системы</a>


                                <ul style="float:left; width:100%;">


                                    <li style="width:100%;">
                                        <a href="/cats/cctv-fake/" title="" style="text-align:center; color:#ccc;">Муляжи камер</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/alarm/" title="" style="text-align:center; color:#ccc;">Сигнализации </a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/cctv/" title="" style="text-align:center; color:#ccc;">Видеонаблюдение</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/recorders/" title="" style="text-align:center; color:#ccc;">Видеорегистраторы</a>
                                    </li>



                                    <li style="width:100%;">
                                        <a href="/cats/cctv-camera/" title="" style="text-align:center; color:#ccc;">Камеры видеонаблюдения</a>
                                    </li>


                                </ul>


                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/mikronaushniki/" title="" style="font-size:15px; text-align:center;">Микронаушники</a>

                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/minicams/" title="" style="font-size:15px; text-align:center;">Мини камеры</a>

                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/gps-spy/" title="" style="font-size:15px; text-align:center;">GPS слежение</a>

                            </li>
                        </div>

                        <div style="float:left;">
                            <li style="float:left;"> <a href="/cats/other/" title="" style="font-size:15px; text-align:center;">Другое</a>

                            </li>
                        </div>

                        <div style="float:left;">
                            <li> <a href="/" title="" style="font-size:15px; text-align:center;">Все товары</a>
                        </div>
                    </ul>
                </div>
            </div>
        </li>
        <li ><a href="/delivery">Доставка и оплата</a></li>
        <li ><a href="/about">О Нас</a></li>
        <li ><a href="/blog/">Блог</a></li>
    </ul>

    <form method="get" class="searchform" action="">
        <span class="left"></span>
        <input type="text" value="Поиск" name="s" class="s" onfocus="if (this.value == 'Поиск') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Поиск';}" />
        <span class="right"></span>
        <input type="submit" class="searchsubmit" value="Go" />
    </form>

    <!-- Категории -->
</div>
<div class="clear"></div>
<div><div><!-- /nav -->
<div id="maincontent">
<div id="content">
<div class="postwrap fix" style="padding:30px;">
<table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
<tr>



<tr><td colspan="2"><center><a class="cats_discr" href="/cats/bugs/"> <h1>Жучки</h1></a><br></center></td></tr>



<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/gsm/"><img width="150px" src="/media/category_image/GSM-spy.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/gsm/">



                    <h2>GSM</h2>
                </a>
                <p><p>GSM жучки - устройства небольших размеров, способные работать везде где ловит сотовый телефон.</p>
                <p>В устройство вставляется сим карта, позвонив на которую вы сможете вести прослушку.</p>
                <p>Есть модели с активацией на шум и автоперезвоном.</p></p>
            </td>
        </tr>
    </table>
</td>




<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/radio/"><img width="150px" src="/media/category_image/radio-spy.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/radio/">



                    <h2>Радио</h2>
                </a>
                <p><p>Подслушивающие устройства, работают на&nbsp;ISM/UHF частотах. В комплект входит передатчик(жучок) и приемник.</p>
                <p>Одновременно возможно вести запись, подключив к приемнику записывающее устройство.</p></p>
            </td>
        </tr>
    </table>
</td>


</tr><tr>



    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="/cats/audio/"><img width="150px" src="/media/category_image/dictophone-bug.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="/cats/audio/">



                        <h2>Мини диктофоны</h2>
                    </a>
                    <p><p>Миниатюрные диктофоны, с великолепным качеством звука и множеством возможностей и функций.</p></p>
                </td>
            </tr>
        </table>
    </td>






</tr>
<tr><td colspan="2"  style="padding:20px; border-top: 5px solid #ccc;"></td></tr>
<tr>




<tr><td colspan="2"><center><a class="cats_discr" href="/cats/antibugs/"> <h1>Защита от прослушки</h1></a><br></center></td></tr>



<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/jammers/"><img width="150px" src="/media/category_image/jammers.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/jammers/">



                    <h2>Глушители</h2>
                </a>
                <p><p>Глушители GSM,3G,GPS,WiFi сетей.&nbsp;</p>
                <p>От карманных, до стационарных с пультом управления.</p>
                <p>Надежно защитит от прослушки, слежки или надоедливых мобильников.</p></p>
            </td>
        </tr>
    </table>
</td>




<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/detectors/"><img width="150px" src="/media/category_image/finder.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/detectors/">



                    <h2>Обнаружители</h2>
                </a>
                <p><p>Надежная защита от жучков, а так же скрытых камер.</p>
                <p>Устройства могут обнаружить любую прослушку, от FM до GSM.</p></p>
            </td>
        </tr>
    </table>
</td>


</tr><tr>




</tr><tr>


</tr>
<tr><td colspan="2"  style="padding:20px; border-top: 5px solid #ccc;"></td></tr>
<tr>




<tr><td colspan="2"><center><a class="cats_discr" href="/cats/security/"> <h1>Охранные системы</h1></a><br></center></td></tr>



<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/cctv-fake/"><img width="150px" src="/media/category_image/Camera1-3.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/cctv-fake/">



                    <h2>Муляжи камер</h2>
                </a>
                <p><p>Муляжи камер видеонаблюдения - идеальное средство предостеречь воровство или хулиганство.</p></p>
            </td>
        </tr>
    </table>
</td>




<td style="vertical-align:top; padding:20px;">
    <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
        <tr>
            <td style="vertical-align:top; padding:20px;">




                <a href="/cats/alarm/"><img width="150px" src="/media/category_image/alarm-system.thumb.png"/></a>
            </td>
            <td style="vertical-align:top; padding:20px;">
                <a class="item-head cats_discr" href="/cats/alarm/">



                    <h2>Сигнализации </h2>
                </a>
                <p><p>Системы мониторинга охраняемых объектов.</p></p>
            </td>
        </tr>
    </table>
</td>


</tr><tr>



    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">


                    <a href="http://ceptum.ru/cats/cctv-komplekt/"><img width="150px" src="/media/category_image/cctv-systems.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="http://ceptum.ru/cats/cctv-komplekt/">

                        <h2>Видеонаблюдение</h2>
                    </a>
                    <p><p>Комплекты видеонаблюдения, круглосуточная запись в офис, на дачу, дома. Залог вашей безопасности.</p></p>
                </td>
            </tr>
        </table>
    </td>




    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">



                    <a href="http://ceptum.ru/section/reg/"><img width="150px" src="/media/category_image/recorders.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="http://ceptum.ru/section/reg/">


                        <h2>Видеорегистраторы</h2>
                    </a>
                    <p><p>Устройства, которые используются в системах видеонаблюдения для записи и хранения данных.&nbsp;</p></p>
                </td>
            </tr>
        </table>
    </td>


</tr><tr>



    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="http://ceptum.ru/section/cam/"><img width="150px" src="/media/category_image/cctv-camera.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="http://ceptum.ru/section/cam/">



                        <h2>Камеры видеонаблюдения</h2>
                    </a>
                    <p><p>Камеры для систем видеонаблюдения.</p></p>
                </td>
            </tr>
        </table>
    </td>






</tr>
<tr><td colspan="2"  style="padding:20px; border-top: 5px solid #ccc;"></td></tr>
<tr>






    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="/cats/mikronaushniki/"><img width="150px" src="/media/category_image/mikronaushniki.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="/cats/mikronaushniki/">



                        <h2>Микронаушники</h2>
                    </a>
                    <p><p>Незаменимая вещь для сдачи экзаменов студентам и школьнкам. </p>
                    <p>Устройство позволяет незаметно обмениваться сообщениями - подходят для охранников, службы безопасноcти, проведения деловых встреч и тд...</p></p>
                </td>
            </tr>
        </table>
    </td>



</tr><tr>







    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="/cats/minicams/"><img width="150px" src="/media/category_image/minicams.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="/cats/minicams/">



                        <h2>Мини камеры</h2>
                    </a>
                    <p><p>Мини камеры для видеонаблюдения.</p>
                    <p>Все представленные модели очень маленького размера, что позволяет незаметно их установить и забрать для просмотра записи. Имеются модели с датчиком движения, системой автоматического усиления звука и голосовой активацией.</p></p>
                </td>
            </tr>
        </table>
    </td>









    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="/cats/gps-spy/"><img width="150px" src="/media/category_image/GPS_Trackers.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="/cats/gps-spy/">



                        <h2>GPS слежение</h2>
                    </a>
                    <p><p>GPS трекеры для отслеживания местоположения объекта.</p>
                    <p>Умеют отправлять на авторизованный номер координаты.</p>
                    <p>Возможность следить за объектом через on-line на карте. Огромное количесто вспомогательных функций.</p></p>
                </td>
            </tr>
        </table>
    </td>



</tr><tr>







    <td style="vertical-align:top; padding:20px;">
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align:top;">
            <tr>
                <td style="vertical-align:top; padding:20px;">




                    <a href="/cats/other/"><img width="150px" src="/media/category_image/other.thumb.png"/></a>
                </td>
                <td style="vertical-align:top; padding:20px;">
                    <a class="item-head cats_discr" href="/cats/other/">



                        <h2>Другое</h2>
                    </a>
                    <p><p>Вещи не нашедшие своей категории.</p></p>
                </td>
            </tr>
        </table>
    </td>





</tr>
</table>
</div>
</div>
</div>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter4470133 = new Ya.Metrika({id:4470133,
                    clickmap:true,
                    trackLinks:true});
            }
            catch(e) { }
        });
    })(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch_visor.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/4470133" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
