{% load googlecharts %}

<div id="count_graph"></div>

{% googlecharts %}
    {% data values "count" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "# of payments" %}{{ val }}{% endcol %}
    {% enddata %}

    {% options %}
        kind: "LineChart",
        options: {
        backgroundColor: "#f9f9f9",
        colors: ["#09f"],
        gridlineColor: "#ddd",
        legend: "none",
        vAxis: {minValue: 0},
        width: 1200,
        height: 800
        }
    {% endoptions %}

    {% graph "count_graph" "count" %} {# используем опции по умолчанию #}
{% endgooglecharts %}
