<td style="background:#cccccc;" rowspan="2">
    <a href="/myadmin/client/add" target="_blank">Добавить клиента</a>
</td>
<table border="1px" cellpadding="5px" cellspacing="1px">
	<tr style="background:#cccccc;">
		<td>
			ID
		</td>
        <td>
            Статус
        </td>
        <td>
            Время назначения
        </td>
		<td>
			ФИО
		</td>
        <td>
            Телефон
        </td>
		<td>
			Заказ
		</td>
        <td>
            Сумма
        </td>
        <td>
            Скидка
        </td>
        <td>
            Tracking number
        </td>
	<tr>
	{% for client in all_clients %}
	<tr>
		<td style="background:#cccccc;" rowspan="2">
			{{ client.id }}
		</td>
        <td rowspan="2">
            {{ client.get_status_display }}
        </td>
        <td>
            {{ client.ordered_at }}
        </td>
		<td>
			{{ client.surname }} {{ client.name }} {{ client.patronymic }}
		</td>
        <td>
            {{ client.phone }}
        </td>
		<td>
			{{ client.get_order }}
		</td>
        <td>
            {{ client.subtotal }} руб.
        </td>
        <td>
            {{ client.discount }} руб.
        </td>
        <td>
            {{ client.tracking_number }}
        </td>
        <td style="background:#cccccc;" rowspan="2">
			<a href="/myadmin/client/{{ client.id }}/" target="_blank">Редактировать</a>
		</td>
	</tr>
	<tr>

		<td colspan="7">
			{{ client.city }} {{ client.address }}
		</td>
	</tr>
	{% endfor %}
</table>
