<table border="1px" cellpadding="5px" cellspacing="1px">
	<tr style="background:#cccccc;">
		<td>
			ID
		</td>
        <td>
            Статус
        </td>
        <td>
            Дата заказа
        </td>
		<td>
			ФИО
		</td>
        <td>
            Телефон
        </td>
		<td>
			Заказ
		</td>
        <td>
            Сумма
        </td>
        <td>
            Скидка
        </td>
        <td>
            Tracking number
        </td>
	<tr>
	{% for client in all_clients %}
	<tr>
		<td>
			{{ client.id }}
		</td>
        <td>
        </td>
        <td>
            {{ client.ordered_at }}
        </td>
		<td>
			{{ client.surname }} {{ client.name }} {{ client.patronymic }}
		</td>
        <td>
            {{ client.phone }}
        </td>
		<td>
			{{ client.get_order }}
		</td>
        <td>
            {{ client.subtotal }} руб.
        </td>
        <td>
            {{ client.discount }} руб.
        </td>
        <td>
        </td>
	</tr>
	{% endfor %}
</table>